asgiref==3.7.2
Django==4.2.4
django-rest-framework==0.1.0
django-rest-framework-mongoengine==3.4.1
djangorestframework==3.14.0
dnspython==2.4.2
drf-spectacular==0.26.4
Faker==19.3.1
matplotlib~=3.5.1
mongoengine==0.27.0
openai~=1.1.1
pathlib~=1.0.1
pandas~=2.1.0
pymongo==4.4.1
pytz==2023.3
requests~=2.31.0
scikit-learn~=1.0.2
seaborn~=0.13.0
sqlparse==0.4.4
tzdata==2023.3